@media screen and (min-width: 300px) and (max-width: 700px){

/*--------------------- section 1 --------------------*/
    header>button, a{
        display: none;
    }
    header>div>span{
        font-size: 7vw;
    }
    header>div>img{
        width: 7vw;
        height: 7vw;
    }
    main{
        flex-direction: column;
        align-items: flex-start;
    }
    main>div>h1{
        width: 84vw;
        font-size: 11vw;
        line-height: 150%;
        font-style: normal;
        font-weight: 400;
    }
    main>div>p{
        width: 84vw;
        font-size: 4.6vw;
        line-height: 150%;
    }
    main>div>button{
        width: 44vw;
        height: 6.4vh;
        font-size: 2.3vh;
    }
    main>img{
        width: 88vw;
        height: 60vh;
    }

/*--------------------- section 2 --------------------*/

    .section_2 div{
        flex-direction: column;
    }
    .section_2>div>h2{
        width: 88vw;
        font-size: 5.2vh;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .section_2>div>p{
        width: 88vw;
        font-size: 2.7vh;
        line-height: 150%;
    }
    .section_2 img{
        width: 88vw;
        height: 27vh;
    }

    /*--------------------- section 3 --------------------*/

    .section_3>h2{
        text-align: left;
        font-size: 5.2vh;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .grid{
        grid-template-areas:
        "container_1 container_1 container_1"
        "container_2 container_2 container_2"
        "container_3 container_3 container_3"
        "container_4 container_4 container_4"
        "container_5 container_5 container_5"
        "container_6 container_6 container_6";
        row-gap: 17vh;
    }


}