@media screen and (min-width: 300px) and (max-width: 700px){

/*--------------------- section 1 --------------------*/
    header>button, a{
        display: none;
    }
    header>div>span{
        font-size: 7vw;
    }
    header>div>img{
        width: 7vw;
        height: 7vw;
    }
    main{
        flex-direction: column;
        align-items: flex-start;
    }
    main>div>h1{
        width: 84vw;
        font-size: 11vw;
        line-height: 150%;
        font-style: normal;
        font-weight: 400;
    }
    main>div>p{
        width: 84vw;
        font-size: 4.6vw;
        line-height: 150%;
    }
    main>div>button{
        width: 44vw;
        height: 6.4vh;
        font-size: 2.3vh;
        font-weight: 400;
    }
    main>img{
        width: 88vw;
        height: 60vh;
    }

/*--------------------- section 2 --------------------*/

    .section_2 div{
        flex-direction: column;
    }
    .section_2>div>h2{
        width: 88vw;
        font-size: 5.2vh;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .section_2>div>p{
        width: 88vw;
        font-size: 2.7vh;
        line-height: 150%;
    }
    .section_2 img{
        width: 88vw;
        height: 27vh;
    }

/*--------------------- section 3 --------------------*/

    .section_3>h2{
        text-align: left;
        font-size: 5.2vh;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 14vh;
    }
    .grid{
        grid-template-areas:
        "container_1 container_1 container_1"
        "container_2 container_2 container_2"
        "container_3 container_3 container_3"
        "container_4 container_4 container_4"
        "container_5 container_5 container_5"
        "container_6 container_6 container_6";
        row-gap: 17vh;
    }
    .container_1>h4, .container_2>h4, .container_3>h4, .container_4>h4, .container_5>h4, .container_6>h4{
        font-size: 4vh;
        font-weight: 400;
        margin-top: 2.9vh;
        margin-bottom: 3.4vh;
    }
    .container_1>p, .container_2>p, .container_3>p, .container_4>p, .container_5>p, .container_6>p{
        font-size: 2.7vh;
        line-height: 175%;
        display: flex;
        text-align: center;

    }
    .section_3{
        margin-bottom: 27vh;
    }

/*--------------------- section 4 --------------------*/

    .section_4>h2{
        font-size: 5.2vh;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 10vh;
    }
    .portfolio>div:nth-child(n+2){
        display: none;
    }
    .portfolio>div:first-child{
        width: 88vw;
        height: 35vh;
    }

/*--------------------- section 5 --------------------*/

    .contact_us{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 32vh;
    }
    .contact_us h2{
        width: 88vw;
        font-size: 5.2vh;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .contact_us button{
        width: 44vw;
        font-size: 2vh;
        font-weight: 400;
    }
    footer{
        flex-direction: column;
        row-gap: 5vh;
    }
    footer>div>img{
        width: 7vw;
        height: 7vw;
        margin-right: 4px;
    }
    footer span{
        font-size: 7vw;
    }
    footer div{
        align-items: center;
    }
    .media_phone{
        display: block;
    }
    footer p{
        font-size: 2.6vh;
        line-height: 155.556%;
    }
}