body{
    margin: 0;
    font-family: "Lato", sans-serif;
    padding-top: 4vh;
    padding-bottom: 4vh;
    box-sizing: border-box;
    background: #19191B;
}
/*--------------------- section 1 --------------------*/
.section_1{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding-right: 8vw;
    padding-left: 8vw;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header:first-child div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header>div>img{
    width: 3vw;
    height: 3vw;
    margin-right: 4px;
}
header>div>span{
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
a{
    text-decoration: none;
}
nav>a:first-child{
    color: #5454D4;
    text-align: right;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: -0.5px;
}
nav>a:nth-child(n+2){
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 1.2vw;
}
nav{
    display: flex;
    column-gap: 3vw;
}
header>button{
    width: 11vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: -0.5px;
    background: #19191B;
}
header>button:hover{
    font-size: 1.5vw;
    border-radius: 50%;
    transition: 1s;
    color: #5454D4;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.4vh;
}
main>div>h1{
    width: 40vw;
    color: #FFF;
    font-size: 8vh;
    line-height: 105%;
}
main>div>p{
    width: 37vw;
    color: rgba(255, 255, 255, 0.70);
    font-size: 2vh;
    line-height: 185%;
    letter-spacing: -0.657px;
}
main>div>button{
    width: 14vw;
    height: 5.6vh;
    border-radius: 4px;
    border: 1px solid #5454D4;
    background-color: #5454D4;
    color: #FFF;
    font-size: 2vh;
    font-weight: 700;
    margin-top: 5vh;
}
main>img{
    width: 45vw;
    height: 70vh;
}
/*--------------------- section 2 --------------------*/

.section_2{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 8vw;
    padding-left: 8vw;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
.section_2 div{
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.section_2>div>h2{
    width: 50vw;
    color: #FFF;
    font-size: 6vh;
    line-height: 116.667% ;
    margin-top: 0;
}
.section_2>div>p{
    width: 40vw;
    color: rgba(255, 255, 255, 0.70);
    font-size: 2vh;
    line-height: 185.714%;
    letter-spacing: -0.657px;
    margin-top: 0;
}
.section_2 img{
    width: 84vw;
    height: 65vh;
}

/*--------------------- section 3 --------------------*/

.section_3{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 8vw;
    padding-left: 8vw;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
.section_3>h2{
    color: #FFF;
    text-align: center;
    font-size: 6vh;
    line-height: 116.667%;
    margin-top: 15vh;
}
.container_1{
    grid-area: container_1;
}
.container_2{
    grid-area: container_2;
}
.container_3{
    grid-area: container_3;
}
.container_4{
    grid-area: container_4;
}
.container_5{
    grid-area: container_5;
}
.container_6{
    grid-area: container_6;
}
.grid{
    display: grid;
    grid-template-areas:
    "container_1 container_2 container_3"
    "container_4 container_5 container_6";
    column-gap: 7vw;
    row-gap: 12vh;
}
.container_1, .container_2, .container_3, .container_4, .container_5, .container_6{
    display: grid;
    text-align: center;
    justify-items: center;
}
.container_1>h4, .container_2>h4, .container_3>h4, .container_4>h4, .container_5>h4, .container_6>h4{
    color: #FFF;
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: -0.75px;
    margin-top: 2vh;
    margin-bottom: 2.3vh;
}
.container_1>p, .container_2>p, .container_3>p, .container_4>p, .container_5>p, .container_6>p{
    color: rgba(255, 255, 255, 0.70);
    font-size: 2vh;
    line-height: 140%;
    letter-spacing: -0.5px;
    margin: 0;
}
.position{
    width: 69px;
    height: 69px;
    position: relative;
}
.position>img{
    position: absolute;
    left: 28%;
    top: 28%;
}
.section_3{
    margin-bottom: 20vh;
}

/*--------------------- section 4 --------------------*/

.section_4{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 8vw;
    padding-left: 8vw;
}
.section_4>h2{
    color: #FFF;
    font-size: 6vh;
    font-weight: 800;
    margin-bottom: 16vh;
}
.portfolio{
    display: flex;
    justify-content: space-between;
}
.portfolio div{
    width: 26vw;
    height: 30vh;
    border-radius: 14px;
    background: #1E1E20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio div img{
    width: 88%;
    height: 88%;
}
/*--------------------- section 5 --------------------*/

.contact_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: rgba(30, 30, 32, 0.50);
    margin-top: 25vh;
    margin-bottom: 5vh;
    box-sizing: border-box;
    padding-right: 8vw;
    padding-left: 8vw;
}
.contact_us h2{
    width: 57vw;
    color: #FFF;
    font-size: 6vh;
}
.contact_us button{
    width: 14vw;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid #5454D4;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-size: 2vh;
    font-weight: 700;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 8vw;
    padding-left: 8vw;
}
footer>div>img{
    width: 3vw;
    height: 3vw;
    margin-right: 4px;
}
footer span{
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
footer div{
    display: flex;
    justify-content: center;
}
footer p{
    color: rgba(255, 255, 255, 0.70);
    font-size: 1.5vh;
    line-height: 237.5%;
    letter-spacing: -0.5px;
}
.media_phone{
    display: none;
}